.weatherBg{
  background: url("https://e0.pxfuel.com/wallpapers/402/103/desktop-wallpaper-sun-nature-sea-dawn-horizon.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
  font-weight: 700;

}
.weatherResultBox{
  margin: auto;
  width: 400px;
  height: 300px;

}
.weathericon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 20%;

}
.weatherCity{
  font-size: 25px;
}
.weatherTemp{
font-size: 55px;
font-weight: 700;
}